
<ion-content id="home" style="background-color:  #d9d9d9;">
  <ion-card>
    <ion-row no-padding>
      <ion-col col-9>
        <h1>facebook</h1>      
      </ion-col>      
      <ion-col style="margin-right: -20px;">               
          <ion-icon name="search" (click)="openSearch()"></ion-icon>      
          <ion-icon name="ios-chatbubbles-outline"></ion-icon>     
          <ion-icon name="ios-pin-outline" (click)="openBackgroundGeolocation()"></ion-icon>         
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/images/baby5.png" alt="">
        </ion-avatar>
        <ion-input class="inputText" placeholder="What's on your mind?"></ion-input>
      </ion-item>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col no-padding>
        <button class="btnRow" ion-button full clear no-margin>
          <ion-icon class="icon" style="color: red;" name="ios-videocam-outline"></ion-icon>
          <p class="btnText">Live</p>
        </button>
      </ion-col>
      <div class="verticalLine"></div>
      <ion-col no-padding>
        <button class="btnRow" ion-button full clear no-margin>
          <ion-icon class="icon" style="color: green;" name="ios-images-outline"></ion-icon>
          <p class="btnText">Photo</p>
        </button>
      </ion-col>
      <div class="verticalLine"></div>
      <ion-col no-padding>
        <button class="btnRow" ion-button full clear no-margin>
          <ion-icon class="icon" style="color: red;" name="ios-pin-outline"></ion-icon>
          <p class="btnText">Check In</p>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-slides loop="true" slidesPerView="4">
      <ion-slide class="photoSlide" *ngFor="let img of images">
        <button class="btnAdd">
          <ion-icon name="ios-add-outline"></ion-icon>
        </button>
        <img src="assets/images/{{img.image}}" class="photos"/>
        <div class="txtStory">{{img.txt}}</div>
      </ion-slide>
    </ion-slides>
    <button ion-button class="storyBtn" style="background-color:#ffb3b3; margin-bottom: 12px;" block>
      <h2 style="text-transform: none;color:#fc2352">See All Stories</h2>
    </button>
  </ion-card>

  <ion-card>
    <ion-grid>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/images/baby7.png" alt="">
      </ion-avatar>
      <ion-row style="margin-left:-6px">
        <ion-col>
          <h2 style="color: black;font-weight: bolder;">Khin Chan Myae Han</h2>
        </ion-col>      
        <ion-col col-2 style="margin-right: -15px;">
         
            <ion-icon name="ios-more" (click)="openMenu()"></ion-icon>
        
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: -18px;margin-left:-6px">
        <ion-col col-2>
          <h6 style="color: darkgrey">2 min .</h6>
        </ion-col>
        <ion-col>
          <ion-icon style="zoom: 0.7; margin-top: 3.5px; color: gray;" name="md-globe"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>
    </ion-grid>

    <ion-card-content style="margin: -20px 0px -20px;">
      Hello, I am glad to meet you. You are the best for me.
    </ion-card-content>
    <ion-item-divider color='black'></ion-item-divider>
      <ion-row style="padding-bottom: 5px;padding-top: 5px">
        <ion-col text-center><ion-icon name="ios-thumbs-up-outline" class="icon-style"></ion-icon><span class="text-style">&nbsp;Like</span></ion-col>
        <ion-col text-center><ion-icon name="ios-text-outline" class="icon-style"></ion-icon><span class="text-style">&nbsp;Comment</span></ion-col>
         <ion-col text-center><ion-icon name="ios-redo-outline" class="icon-style"></ion-icon><span class="text-style">&nbsp;Share</span></ion-col>
      </ion-row>


  </ion-card>
  <ion-card>
    <ion-slides class="image-silder" loop="true" slidesPerView="2">
      <ion-slide *ngFor="let p of photos" style="padding-left: 3%; right: 3%; width: 40%;">
        <ion-card> 
          <img src="assets/images/{{p.image}}" class="requestImg" imageViewer />
            <ion-card-content style="margin: -10px;">{{p.txt}}</ion-card-content>
          <ion-grid>
            <ion-row style="margin: -10px">
              <ion-col>
                <button style="font-size: small; margin-left: 5px; width: 90%;" ion-button block>
                  <span style="text-transform: none;">
                  Confirm </span>
                </button>
              </ion-col>
              <ion-col>
                <button style="font-size: small; background-color:lightgrey; margin-right: 5px; width: 90%;" ion-button block>
                  <span style="text-transform: none;color: black;">Delete</span></button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-slide>
    </ion-slides>

  </ion-card>
  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/images/baby5.png" alt="">
      </ion-avatar>
      <ion-row style="margin-left:-6px">
        <ion-col>
          <h2 style="color: black;font-weight: bolder;">Khin Chan Myae Han </h2>
        </ion-col>
        <ion-col col-2 style="margin-right: -15px;">
          
            <ion-icon name="ios-more" (click)="openMenu()"></ion-icon>
         
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: -18px;margin-left:-6px">
        <ion-col col-2>
          <h6 style="color: darkgrey;font-size:smaller;">2 min .</h6>
        </ion-col>
        <ion-col>
          <ion-icon style="margin-left: -3px;zoom: 0.7; margin-top: 2px;color: gray;" name="md-globe"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-card-content>
      Hello, I am glad to meet you. You are the best for me.
    </ion-card-content>
    <ion-card>
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/images/baby6.png" alt="">
        </ion-avatar>
        <ion-row style="margin-left:-6px"> 
          <ion-col>
            <h2 style="color: black;font-weight: bolder;">Khin Chan Myae Han</h2>
          </ion-col>         
        </ion-row>
        <ion-row style="margin-top:-14px;margin-left:-6px">
          <ion-col col-7>
            <h6 style="color: darkgrey; font-size: smaller;">Saturday at 10:33AM .</h6>
          </ion-col>
          <ion-col>
            <ion-icon style="margin-left: -5px;zoom: 0.7; margin-top: 1px; color: gray;" name="md-globe"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-card-content>
        This is share post. I want to try the best.
        This is share post. I want to try the best.
        This is share post. I want to try the best.
        This is share post. I want to try the best.
      </ion-card-content>
    </ion-card>
    <ion-item-divider color='black'></ion-item-divider>
      <ion-row style="padding-bottom: 5px;padding-top: 5px">
        <ion-col text-center><ion-icon name="ios-thumbs-up-outline" class="icon-style"></ion-icon><span class="text-style">&nbsp;Like</span></ion-col>
        <ion-col text-center><ion-icon name="ios-text-outline" class="icon-style"></ion-icon><span class="text-style">&nbsp;Comment</span></ion-col>
         <ion-col text-center><ion-icon name="ios-redo-outline" class="icon-style"></ion-icon><span class="text-style">&nbsp;Share</span></ion-col>
      </ion-row>
   

  </ion-card>



</ion-content>