page-notification {
    .h1{
        margin-right:25px;
    }
    .but{
        padding:10px;
        margin-top:10px;
        margin-left:10px;
    }
    .a1{
        margin-right:10px;
    }
    .t1{
        margin-right:50px;
        margin-left:50px
    }
  .noti{
    
        white-space:nowrap;
        
        overflow-x: auto;
    }
    .notiBut{
        display:inline-block;
        margin-left:10px;
        font-size:xx-small;
        size:5px;
    }


}
.but{
    padding-top:10px ;
    border-radius: 50%;

}
